*{
    margin:0 0;
    padding: 0 0;
}
.easylist .items-wrap{
    border: 1px solid #ddd;
    margin-top: 4px;
    width: 100%;
}
.easylist .items-wrap p{
    margin: 6px 0;
    padding: 0 10px;
    cursor: pointer;
}
.easylist .items-wrap p:hover{
    background: rgba(40, 164, 201, 0.84);
    color: #fff;
}